body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

#pongGame {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: black;
  border: 2px solid white;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: white;
}

#leftPaddle {
  left: 10px;
}

#rightPaddle {
  right: 10px;
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: moveBall linear infinite;
}

@keyframes moveBall {
  0%, 100% {
      transform: translate(-50%, -50%) translate(2px, 2px);
  }
  50% {
      transform: translate(-50%, -50%) translate(-2px, -2px);
  }
}
